.mensagem_container {
    background-color: gray;
    border-radius: 10px;

    margin: 5px;
    padding: 5px;
    display: block;

    width: 600px;
}

.detalhes_mensagem {
    display: flex;
    justify-content: space-between;
}

.autor_mensagem{
    display: inline;
}

.imagem_autor {
    width: 65px;
    display: flex;
    border-radius: 80px;
}

.conteudo_mensagem > * {
    display: inline;
}

.conteudo_mensagem > p {
    padding-bottom: 50px;
}

.botoes_mensagem > * {
    margin: 5px;
    background-color: black;
    text-decoration: none;
    color: blanchedalmond;
    padding-top: 3px;
    padding-bottom: 3px;

    padding-left: 5px;
    padding-right: 5px;

    border-radius: 5px;
}

.botao_mensagem:hover {
    border: 1px solid;
    border-color: white;
}
.botao_mensagem:active {
    background-color: blanchedalmond;
    color: black;
}
