<div class="mensagem_container">

    <div class="conteudo_mensagem">
        <p>
            {{ modelo.conteudo }}
        </p>
    </div>

    <div class="detalhes_mensagem">

        <span class="autor_mensagem">{{ modelo.autor }}</span>

        <img src="" alt="" class="imagem_autor">

        <div class="botoes_mensagem">
            <a href="#" class="botao_mensagem" (click)="EditSelf()">Editar</a>
            
            <a href="#" class="botao_mensagem" (click)="ApagarSelf()">Apagar</a>
        </div>
    </div>

</div>