<div class="mensagem_container" [style.background]="modelo.color">
    <div class="conteudo_mensagem">

        @switch (modelo.icone) {
            @case ("1") {
                <img src="../../assets/lista-icones/1.jpg" alt="deu erro" class="imagem_autor">
            }

            @case ("2") {
                <img src="../../assets/lista-icones/2.jpg" alt="deu erro" class="imagem_autor">
            }

            @case ("3") {
                <img src="../../assets/lista-icones/3.jpg" alt="deu erro" class="imagem_autor">
            }

            @case ("4") {
                <img src="../../assets/lista-icones/4.jpg" alt="deu erro" class="imagem_autor">
            }

            @case ("5") {
                <img src="../../assets/lista-icones/5.jpg" alt="deu erro" class="imagem_autor">
            }

            @default {
                <img src="../../assets/lista-icones/3.jpg" alt="deu erro" class="imagem_autor">
            }
        }
        
        <p class="conteudo">
            Mensagem: {{ modelo.conteudo }}
        </p>
    </div>

    <div class="detalhes_mensagem">

        <span class="autor_mensagem">Autor: {{ modelo.autor }}</span>

        <span> | Sexo: {{ modelo.gender }} | Idade: {{ modelo.idade }} |</span>

        <div class="botoes_mensagem">
            <a href="#" class="botao_mensagem" (click)="ToggleEdit()">Editar</a>
            
            <a href="#" class="botao_mensagem" (click)="ApagarSelf()">Apagar</a>
        </div>
    </div>

    @if (estaEditando) {
        <form (ngSubmit)="onSubmit(refLocalForm)" class="botoes_mensagem" #refLocalForm="ngForm" ngNativeValidate>
            <input type="text" placeholder="Informe a nova mensagem..." [defaultValue]="modelo.conteudo" ngModel name="formMensagemEditada">

            <button class="botao_mensagem" type="submit">Atualizar</button>
        </form>
    }

</div>